/*overall*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFE8DF;
}

/*top bar các loại*/
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFE8DF;
    padding: 20px;
}
.topbar h1 {
    flex: 1;
    color: #7F0303;
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
}
/*2 nút New/Check*/
.order-tabs {
    display: flex;
    background-color: #96C0CE;
    padding: 10px;
}
.tab-btn {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    border: none;
    background-color: #EFE8DF;
    color: #0F414A;
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.tab-btn.active {
    background-color: #7F0303; /* maroon */
    color: white;
}

/*nhét 2 cột dô container chia ra*/
.order-container {
    display: flex;
    height: calc(100vh - 160px); /*trừ đi phần top bar với tab*/
}

.product-menu {
    flex: 3;
    padding: 20px;
    background-color: #EFE8DF;
    overflow-y: auto;
}

.bill-panel {
    flex: 1;
    background-color: #D8BA98;
    border-left: 2px solid #96C0CE;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*search and sort button*/
.search-btn, .sort-btn {
    height: 100%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*search bar*/
.search-bar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}
.search-bar input {
    flex: 1;
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
}

/*cart*/
.cart-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

/*Sum button as footer*/
.bill-footer {
    flex-shrink: 0;
    padding: 15px;
    border-top: 1px solid #96C0CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sum-btn {
    background-color: #0F414A;
    color: #EFE8DF;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 20px;
}
